<footer>
    <nav class="mobile">
            <a href="/mainPage" class="active">Home</a>
            <a href="/searchPage">Search</a>
            <a href="/mapPage">Map</a>
            <a href="/cartPage">Cart</a>
            <a href="/accountPage">Account</a>
        </nav>
    <p>&copy; 2026 Food+ Portal. All rights reserved.</p>
</footer>
</body>
</html>