<div class="mobile_nav_container">
    <footer>
        <p style="color: aliceblue;">&copy; 2026 Food+ Portal. All rights reserved.</p>
    </footer>
    <nav class="mobile">
        <a href="/mainPage" class="active"><img class="navicon" src="/img/nav-icons/home.png" alt="Home Icon"></a>
        <a href="/searchPage"><img class="navicon" src="/img/nav-icons/magnifying-glass.png" alt="Search"></a>
        <a href="/mapPage"><img class="navicon" src="/img/nav-icons/map.png" alt="Map Icon"></a>
        <a href="/cartPage"><img class="navicon" src="/img/nav-icons/grocery-store.png" alt="Cart Icon"></a>
        <a href="/accountPage"><img class="navicon" src="/img/nav-icons/user.png" alt="Profile Icon"></a>
    </nav>
</div>
</body>
</html>