<%- include('partials/header', { title, cssFiles }) %>

<main class="container">
  <h1 class="outbg_text">Map view</h1>
  <div class="map">
    <div id="map">
    </div>
    <aside class="map-list">
      <h2 class="outbg_text">Nearby services</h2> <br>
      <ul class="outbg_text">
        <li>Community Kitchen \-1.2 km</li>
        <li>Downtown Food Bank \-2.5 km</li>
        <li>West End Fridge \-3.1 km</li>
      </ul>
    </aside>
  </div>
</main>

<script>
  var map = L.map('map').setView([49.28, -123.12], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  navigator.geolocation.watchPosition(success, error);

  function success(pos) {
    const lat = pos.coords.latitude;
    const lng = pos.coords.longitude;

    L.marker([lat, lng]).addTo(map);

    map.setView([lat, lng], 15);
  }

  function error(err) {
    console.error(err);
  }

</script>
<%- include('partials/footer') %>
