<%- include('partials/header', { title }) %>

<main class="container">
  <h1 class="outbg_text">Map view</h1>
  <div class="map">
    <div class="map-placeholder">Map placeholder</div>
    <aside class="map-list">
      <h2 class="outbg_text">Nearby services</h2> <br>
      <ul class="outbg_text">
        <li>Community Kitchen \-1.2 km</li>
        <li>Downtown Food Bank \-2.5 km</li>
        <li>West End Fridge \-3.1 km</li>
      </ul>
    </aside>
  </div>
</main>
<%- include('partials/footer') %>
